# Environments
*env*

# Editors
*.vscode
*.idea

# Test Suite
*testdocs*
/test/testdocs/
/test/env/
/test/.pytest_cache
/test/*log*
/test/*env*
/test/unittest/logs
*pytest_cache*

# Cache
*__pycache__*
/app/temp/