@media print {
  body {
    -webkit-print-color-adjust: exact; /* For WebKit browsers (Chrome, Safari, Edge) */
    print-color-adjust: exact; /* For Firefox and standard-compliant browsers */
  }
}
  
body {
  font-family: "Nunito", sans-serif !important;
  font-style: normal;
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #858796 !important;
  text-align: left;
  background-color: #fff;
}

.topbar .topbar-brand {
  padding: 1rem 0rem;
  letter-spacing: 0.1rem;
  z-index: 1;
  text-decoration: none;
  text-align: center;
}

.navbar {
  margin-bottom: 1.5rem;
}

.logo-word {
  font-weight: 800;
  font-size: 0.5em;
  position: absolute;
}

.pos-up {
  top: -25%;
  left: 85%;
}

.pos-down {
  top: 25%;
  left: 85%;
}

.logo {
  color: darkblue;
}

footer.page-footer {
  padding: 2rem 0;
}

.shaded {
  box-shadow: 0 0.3rem 2rem 0 rgba(58, 59, 69, 0.15) !important;
}

@keyframes shake {
  0% {
      transform: translateX(0);
  }

  25% {
      transform: translateX(-5px);
  }

  50% {
      transform: translateX(5px);
  }

  75% {
      transform: translateX(-3px);
  }

  100% {
      transform: translateX(0);
  }
}

.error {
  color: #5a5c69;
  font-size: 7rem;
  position: relative;
  line-height: 1;
  width: 12.5rem;
  animation: shake 0.5s ease-in-out infinite;
}

.hidden {
  display: none !important;
}

.alert-dismissible .close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  padding: 0.75rem 1.25rem;
  color: inherit;
}

button.close {
  padding: 0;
  background-color: transparent;
  border: 0;
}

.close {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
}

.settings-bg-color {
  background-color: #f8f9fa;
}

.settings-bar {
  padding: 10px;
}


.sticky-settings-bar {
  position: fixed;
}

.row .col-auto {
  padding-left: 10px;
  padding-right: 10px;
}

.col-auto + .col-auto {
  padding-left: 0px;
  padding-right: 10px;
}

.row:has(> .settings-bar) {
  z-index: 999;
  width: 100%;
  top: 0;
  left: 0;
}

.disable-hover {
    pointer-events: none;
}

.sharp-color[disabled] {
  opacity: 1.0;
}

/* Hide Arrows From Input Number */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: none; /* General fallback for older browsers */
}

/* IE10+ and Edge (non-WebKit) */
input[type="number"] {
  -ms-appearance: none;
  appearance: none;
}