.drop-zone {
    border: 2px dashed #007bff;
    border-radius: 10px;
    padding: 7rem 0;
    text-align: center;
    color: #6c757d;
    cursor: pointer;
    width: 100%;
    margin: 2px;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
    position: relative;
    background-color: #f8f9fa;
}

.drop-zone.dragover {
    background-color: #e9ecef;
    transform: scale(1.02);
}

.drop-zone .fa-upload {
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
    color: #007bff;
}

.drop-zone:hover .fa-upload {
    transform: scale(1.1);
    color: #0056b3;
}

.drop-zone.confirm-animation {
    animation: confirm-animation 0.5s forwards;
}

@keyframes confirm-animation {
    0% {
        transform: scale(1);
        background-color: #fff;
    }
    50% {
        transform: scale(1.05);
        background-color: #ecf0f1;
    }
    100% {
        transform: scale(1);
        background-color: #fff;
    }
}

#file-list {
    background-color: #f8f9fa;
    min-height: 100%;
    border-radius: 5px;
    overflow-y: auto;
    transition: width 0.3s ease-in-out;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#file-list span {
    margin: 0.25rem;
    max-height: 24px;
}

#file-list p {
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-height: 24px;
    width: 100%;
    color: #333;

}

#file-list i {
    color: #ff8080;
    right: 0.5rem;
    margin-left: 0.35rem;
    height: 24px;
    width: 16px;
    cursor: pointer;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

#file-list i:hover {
    color: #ff4d4d;
    transform: scale(1.2);
}

.main-container {
    min-width: 100%;
}

.toast {
    min-width: 200px;
}

.hidden {
    display: none;
}

.progress {
    height: 20px;
    border-radius: 5px;
}

#progress-bar {
    background-color: #007bff;
    transition: width 0.6s ease;
}

#upload-progress {
    background-color: #28a745;
    transition: width 0.6s ease;
}

#file-status-bar {
    margin-bottom: 20px;
}

#upload-progress-bar {
    margin-top: 20px;
}