.drop-zone {
    border: 2px dashed #007bff;
    border-radius: 5px;
    padding: 7rem 0rem;
    text-align: center;
    color: #6c757d;
    cursor: pointer;
    width: 100%;
    margin: 2px;
    transition: ease-in 0.4s;
}

.drop-zone.dragover {
    background-color: #e9ecef;
}

#file-list {
    background-color: var(--bs-secondary-bg);
    min-height: 100%;
    text-align: center;
    border-radius: 5px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#file-list, #file-list p {
    transition: ease-in 0.4s;
}

#file-list p {
    margin: 0.25rem;
}

.main-container {
    min-width: 100%;
}