.drop-zone {
    border: 2px dashed #007bff;
    border-radius: 5px;
    padding: 7rem 0rem;
    text-align: center;
    color: #6c757d;
    cursor: pointer;
    width: 100%;
    margin: 2px;
    transition: width 0.4s ease-in-out;
}

.drop-zone.dragover {
    background-color: #e9ecef;
}

#file-list {
    background-color: var(--bs-secondary-bg);
    min-height: 100%;
    border-radius: 5px;
    overflow-y: scroll;
    transition: width 0.4s ease-in-out;
}

#file-list span {
    margin: 0.25rem;
    max-height: 24px;
}

#file-list p {
    overflow-x: hidden;
    white-space: nowrap;
    min-height: 24px;
    width: 100%;
}

#file-list i {
    color: #ff8080;
    right: 0.5rem;
    margin-left: 0.35rem;
    height: 24px;
    width: 16px;
}

#file-list i:hover {
    cursor: pointer;
}

.main-container {
    min-width: 100%;
}