/* Custom selection style to remove blue highlight */
::selection {
    /* Remove default selection background */
    background: transparent;
    background-color: rgb(255, 255, 0, 0.15) !important;
}

.card-body {
    height: auto;
    transition: height 0.3s ease;
}

.card-body.pdf {
    height: auto !important;
}

.card-body.pdf p {
    border-bottom: 0px !important;
}

#visualise-result-container.pdf .collapse {
    pointer-events: none !important;
}

.fluid-col-6 {
    flex: 0 0 auto;
    width: 48.5%;
}

p[data-colour] {
    text-shadow: black 0px 0px 1px;
    display: inline;
}

p[data-is-match="true"] {
    background-color: white !important;
}

p[data-is-match="false"] {
    color: black !important;
}

.hidden-colour {
    background-color: white !important;
    color: black !important;
}

input[data-id=color-picker]{
    height: 18px;
    width: 18px;
    padding: 0;
    border: none;
    outline: none;
    background: transparent;
    -webkit-appearance: none;
    appearance: none;
}

input[data-id=color-picker]::-webkit-color-swatch-wrapper {
    padding: 0; 
}

input[data-id=color-picker]::-webkit-color-swatch {
    border: none;
    border-radius: 25%;
}

span.pdf-rsid {
    display: none;
}

p:not(.hidden-colour) + span.pdf {
    display: inline !important;
}

.tippy-box[data-reference-hidden] {
    display: none;
}

div.tooltip-cursor-out {
    display: none;
}

div.tooltip-temp-hidden {
    display: none;
}

body {
    overflow-x: hidden;
}

/* text with equal spacing */
.rsidButton .char-evenly-space {
    font-family: monospace;
    white-space: nowrap;
}

.rsidButton .row > div.col-auto {
    padding-right: 5px;
}

ul.dropdown-menu.add-scroll {
    overflow-y: auto;
    overflow-x: hidden;
    height: 500px;
}

p[data-is-match="true"].highlighted {    
    background-color: rgb(255, 255, 0, 0.15) !important;
}

p[data-is-match="false"].highlighted {    
    border-bottom: 3px solid green;
}

p[data-is-match="true"].highlighted {    
    border-bottom: 3px solid red;
}