<nav class="navbar navbar-expand-lg navbar-light mb-0">
    <div class="container topbar">
        <a class="logo topbar-brand" href="{{ url_for('home') }}">
            <i class="my-logo"></i>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item fa-2x me-2">
                    <a class="nav-link" href="{{ url_for('team') }}">
                        <i class="fa-solid fa-users-viewfinder"></i> Our Team
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>