{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css')}}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css">
  <script src="{{ url_for('static', filename='js/home.js') }}"></script>
{% endblock %}

{% block content %}
<div class="container mt-5">
  <h2 id="upload-header" class="mb-4">Upload Your .docx  Files</h2>
  <div class="d-flex flex-row">
    <aside id="file-list" class="flex-column" hidden></aside>
    <div id="drop-zone" class="drop-zone">
      Drag and drop .docx files here or click to upload.
    </div>
    <input class="hidden" type="file" id="file-input" multiple accept=".docx">
  </div>
</div>
{% endblock %}