{% extends "base.html" %}
{% block title %}Our Team{% endblock %}

{% block content %}
<div class="container">
    <h2 class="text-center">Our Team</h2>
    <div class="row row-cols-md-6 row-cols-sm-2 justify-content-center"> 
        <!-- Elijah Mullens -->
        <div class="col d-flex">
            <div class="card h-100 text-center">
                <img src="https://avatars.githubusercontent.com/u/51811251?v=4" class="card-img-top" alt="Elijah Mullens">
                <div class="card-body">
                    <h6 class="card-title">Elijah Mullens<br>[23335907]</h6>
                    <a href="https://github.com/Elijah017" class="btn btn-outline-primary w-100 mb-2" target="_blank">GitHub</a>
                    <ul class="list-unstyled text-start">
                        <li class="text-center"><strong>Sprint 2 Manager</strong></li>
                        <hr>
                        <li>Deployment Lead</li>
                        <li>Docs Creator</li>
                        <li>FE Contributor</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Jack Blackwood -->
        <div class="col d-flex">
            <div class="card h-100 text-center">
                <img src="https://avatars.githubusercontent.com/u/36869195?v=4" class="card-img-top" alt="Jack Blackwood">
                <div class="card-body">
                    <h6 class="card-title">Jack Blackwood<br>[23326698]</h6>
                    <a href="https://github.com/QuamCode" class="btn btn-outline-primary w-100 mb-2" target="_blank">GitHub</a>
                    <ul class="list-unstyled text-start">
                        <li class="text-center"><strong>FE Dev</strong></li>
                        <hr>
                        <li>Git Workflow Lead</li>
                        <li>Docs Contributor</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Yiu Xuan Lok -->
        <div class="col d-flex">
            <div class="card h-100 text-center">
                <img src="https://avatars.githubusercontent.com/u/89856217?v=4" class="card-img-top" alt="Yiu Xuan Lok">
                <div class="card-body">
                    <h6 class="card-title">Yiu Xuan Lok<br>[23171563]</h6>
                    <a href="https://github.com/loklokyx" class="btn btn-outline-primary w-100 mb-2" target="_blank">GitHub</a>
                    <ul class="list-unstyled text-start">
                        <li class="text-center"><strong>Full-Stack Dev</strong></li>
                        <hr>
                        <li>QA/QC Lead</li>
                        <li>UI/UX Design</li>
                        <li>CI/CD Dev</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Chun Kit Lai -->
        <div class="col d-flex">
            <div class="card h-100 text-center">
                <img src="https://avatars.githubusercontent.com/u/126839382?v=4" class="card-img-top" alt="Chun Kit Lai">
                <div class="card-body">
                    <h6 class="card-title">Chun Kit Lai<br>[23687543]</h6>
                    <a href="https://github.com/Lu0922" class="btn btn-outline-primary w-100 mb-2" target="_blank">GitHub</a>
                    <ul class="list-unstyled text-start">
                        <li class="text-center"><strong>BE Dev</strong></li>
                        <hr>
                        <li>Test Lead</li>
                        <li>Unit Testing</li>
                        <li>Test Case Setup</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Finlay O'Loughlin -->
        <div class="col d-flex">
            <div class="card h-100 text-center">
                <img src="https://avatars.githubusercontent.com/u/105625250?v=4" class="card-img-top" alt="Finlay O'Loughlin">
                <div class="card-body">
                    <h6 class="card-title">Finlay O'Loughlin<br>[23616047]</h6>
                    <a href="https://github.com/FinOloughlin" class="btn btn-outline-primary w-100 mb-2" target="_blank">GitHub</a>
                    <ul class="list-unstyled text-start">
                        <li class="text-center"><strong>Sprint 1 Manager</strong></li>
                        <hr>
                        <li>Docs Lead</li>
                        <li>Client Comms</li>
                        <li>FE Contributor</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Aidan Power -->
        <div class="col d-flex">
            <div class="card h-100 text-center">
                <img src="https://avatars.githubusercontent.com/u/139199443?v=4" class="card-img-top" alt="Aidan Power">
                <div class="card-body">
                    <h6 class="card-title">Aidan Power<br>[23422858]</h6>
                    <a href="https://github.com/normit581" class="btn btn-outline-primary w-100 mb-2" target="_blank">GitHub</a>
                    <ul class="list-unstyled text-start">
                        <li class="text-center"><strong>Sprint 3 Manager</strong></li>
                        <hr>
                        <li>Test Lead</li>
                        <li>Selenium Testing</li>
                        <li>BE Dev</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
