{% extends "base.html" %}

{% block title %}Visualise{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/visualise.css')}}">
  <script src="{{ url_for('static', filename='js/context-menu.js') }}" defer></script>
  <script src="{{ url_for('static', filename='js/visualise.js') }}" defer></script>
  <script src="{{ url_for('static', filename='js/colour.js') }}" defer></script>
  <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.min.js"></script>
  <script src="https://unpkg.com/tippy.js@6/dist/tippy-bundle.umd.js"></script>
{% endblock %}

{% block content %}
<div class="container">
    <div id="AlertModalDiv"> 
        {% include "/layout/alert_modal.html" %}
    </div>
</div>

<div id="custom-context-menu">
  <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
    <button id="pdf-btn" type="button" class="btn btn-light text-start">
      <i class="fa-solid fa-file-export"></i> PDF
    </button>
    <button id="switch-card-btn" type="button" class="btn btn-light text-start">
      <i class="fa-solid fa-right-left"></i> Switch
    </button>
    <div class="btn-group" role="group" aria-label="Font size adjustment">
        <button id="decrease-btn" class="btn btn-light text-start" id="" type="button">
          <i class="fa-solid fa-minus"></i>
        </button>
        <button id="reset-btn" class="btn btn-light" type="button">
          <i class="fa-solid fa-arrows-rotate"></i> Font Size
        </button>
        <button  id="increase-btn" class="btn btn-light text-end" type="button">
          <i class="fa-solid fa-plus"></i>
        </button>
    </div>
    <div class="input-group">
      <button type="button" class="rounded-0 sharp-color btn btn-light">
        <i class="fa-solid fa-text-height"></i> Height:
      </button>
      <input id="cardHeightInput" type="number" class="form-control text-end" aria-label="Height (px)">
      <button type="button" class="rounded-0 sharp-color btn btn-light">px</button>
    </div>
    <button id="hide-text-btn" class="btn btn-light text-start" type="button">
      <i class="fa-solid fa-eye-slash"></i> Hide Text RSIDs
    </button>
    <button id="hide-individual-colour-btn" class="btn btn-light text-start" type="button">
      <i class="fa-solid fa-eye-slash"></i> Hide Individual RSIDs
    </button>
    <button id="hide-matching-colour-btn" class="btn btn-light text-start" type="button">
      <i class="fa-solid fa-eye-slash"></i> Hide Matching RSIDs
    </button>
  </div>
</div>

<div class="container-fluid" id="visualise-result-container">
  <div class="row mt-4 justify-content-around">
      {% for document in metadata_list %}
        {% set position = 'left' if loop.index == 1 else 'right' %}
        <div class="fluid-col-6 ps-1 pe-1" data-position="{{position}}">
          <div class="card">
              <div class="card-header">
                  <h5>{{ document.file_name }}</h5>
                  <small>Created on: {{ document.metadata.created.strftime('%Y-%m-%d %H:%M:%S') }}</small>
              </div>
              <div class="card-body" style="overflow-y: auto;" data-id="card-body-scroll">
                  {% for paragraph in document.metadata.paragraphs %}
                    <div class="my-2">
                      {% for para in paragraph %}
                        <p data-colour="{{ para.colour }}" data-rsid="{{ para.rsid }}" data-is-match="{{ 'true' if para.is_match else 'false' }}">{{ para.text }}</p>
                      {% endfor %}
                    </div>
                  {% endfor %}
              </div>
          </div>
        </div>
      {% endfor %}
  </div>
</div>

{% endblock %}
